<!DOCTYPE html>
<html>

<head>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/vue/vue.js"></script>
	<script src="js/js_script.js"></script>
	<link rel="stylesheet" href="css/deli-very.css">
	<script type="text/javascript" src="js/menu.js"></script>
	<script src="js/deli-very.js" defer></script>
	<script src="https://vuejs.org/js/vue.js"></script>

	<title>Page title shown in window title</title>
	<meta charset="utf-8" />
</head>

<body>
	<div id="vue-container">
		<section class="title">
			<img class="title-image" src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3276632.jpg">
			<h1 class="title-text"> Välkommen till Burger Online </h1>
		</section>

		<section class="burger-section" v-bind:title="menuItems" id="myID">
			<h2>
				Select Burger
			</h2>
			<p>Here you can choose the burger you would like.</p>

			<div class="wrapper">
				<div class="box" v-for="burger in menuItems" v-if="burger.stock > 0">
					<h4>
						{{ burger.name }}
					</h4>
					<img class="burger-image" :src=burger.image>
					<ul>
						<li>{{ burger.kCal }}</li>
						<li v-if="burger.gluten">
							Contains <span id="dietry"> gluten </span>
						</li>
						<li v-if="burger.lactose">
							Contains <span id="dietry"> lactose </span>
						</li>
					</ul>
					<div>
						<input type="checkbox" :id="burger.name" :value="burger.name" v-model="orderObj.checkedBurgers">
						<label :for="burger.name">{{ burger.name }}</label>
					</div>
				</div>
			</div>

			{{orderObj.checkedBurgers}}

		</section>

		<section class="customer-info">
			<h2>
				Customer Info
			</h2>
			<p>Here you can see your details</p>

			<section id="orders">
				<form @submit.prevent="handleSubmit">
					<p>
						<label for="fullname">Full name</label><br>
						<input v-model="userDetails.name" type="text" id="fullname" name="fn" required="required" placeholder="First and last name">
					</p>
					<p>
						<label for="email">Email</label><br>
						<input v-model="userDetails.email" type="email" id="email" name="em" required="required" placeholder="E-mail address">
					</p>
					<p>
						<label for="recipient">Recipient</label><br>
						<select v-model="userDetails.payment" id="recipient" name="rcp">
							<option selected="selected">Credit</option>
							<option>Cash</option>
							<option>Debit</option>
							<option>Split</option>
						</select>
					</p>
					<input v-model="userDetails.gender" type="radio" name="gender" value="Male" checked>Male<br>
					<input v-model="userDetails.gender" type="radio" name="gender" value="Female">Female<br>
					<input v-model="userDetails.gender" type="radio" name="gender" value="Undisclosed">Undisclosed<br>

					<div class="view-box">
						<div id="dots" v-on:click="displayOrder">
							<div v-bind:style="{ left: orderObj.x + 'px', top: orderObj.y + 'px'}">
								T
							</div>
						</div>
					</div>

					<div id="orders">
						<button v-on:click="addOrder">Order</button>
					</div>
				</form>
			</section>
		</section>

		<section v-if="recievedOrder === true">
			<h4>Order Confirmation</h4>
			<h5>Customer Details</h5>
			<!-- Give ID's and change them to a one-way binding using native JS-->
			<p>Name: {{ orderObj.name }} </p>
			<p>Email: {{ orderObj.email }} </p>
			<p>Payment Method: {{ orderObj.payment }} </p>
			<p>Gender: {{ orderObj.gender }} </p>
			<h5>Order Summary</h5>
			<ul v-for="burger in orderObj.checkedBurgers">
				<li>{{burger}}</li>
			</ul>

		</section>
	</div>
	<hr>
	<footer>
		This is the footer
	</footer>
</body>

</html>